<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.suyi.movie.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.bjfu.suyi.movie.model.Comments">
    <!--@mbg.generated-->
    <!--@Table comments-->
    <id column="n_id" jdbcType="INTEGER" property="nId" />
    <result column="n_power_id" jdbcType="INTEGER" property="nPowerId" />
    <result column="n_movie_id" jdbcType="INTEGER" property="nMovieId" />
    <result column="d_create_time" jdbcType="DATE" property="dCreateTime" />
    <result column="c_content" jdbcType="VARCHAR" property="cContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    n_id, n_power_id, n_movie_id, d_create_time, c_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from comments
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from comments
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="n_id" keyProperty="nId" parameterType="com.bjfu.suyi.movie.model.Comments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comments (n_power_id, n_movie_id, d_create_time, 
      c_content)
    values (#{nPowerId,jdbcType=INTEGER}, #{nMovieId,jdbcType=INTEGER}, #{dCreateTime,jdbcType=DATE}, 
      #{cContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="n_id" keyProperty="nId" parameterType="com.bjfu.suyi.movie.model.Comments" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nPowerId != null">
        n_power_id,
      </if>
      <if test="nMovieId != null">
        n_movie_id,
      </if>
      <if test="dCreateTime != null">
        d_create_time,
      </if>
      <if test="cContent != null">
        c_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nPowerId != null">
        #{nPowerId,jdbcType=INTEGER},
      </if>
      <if test="nMovieId != null">
        #{nMovieId,jdbcType=INTEGER},
      </if>
      <if test="dCreateTime != null">
        #{dCreateTime,jdbcType=DATE},
      </if>
      <if test="cContent != null">
        #{cContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjfu.suyi.movie.model.Comments">
    <!--@mbg.generated-->
    update comments
    <set>
      <if test="nPowerId != null">
        n_power_id = #{nPowerId,jdbcType=INTEGER},
      </if>
      <if test="nMovieId != null">
        n_movie_id = #{nMovieId,jdbcType=INTEGER},
      </if>
      <if test="dCreateTime != null">
        d_create_time = #{dCreateTime,jdbcType=DATE},
      </if>
      <if test="cContent != null">
        c_content = #{cContent,jdbcType=VARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjfu.suyi.movie.model.Comments">
    <!--@mbg.generated-->
    update comments
    set n_power_id = #{nPowerId,jdbcType=INTEGER},
      n_movie_id = #{nMovieId,jdbcType=INTEGER},
      d_create_time = #{dCreateTime,jdbcType=DATE},
      c_content = #{cContent,jdbcType=VARCHAR}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
</mapper>